@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(0,0,0);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.maze-explorer {
  margin: 20px auto;
  border: 2px solid #000;
}

/* Style for maze cells */
.maze-cell {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

/* Style for walls in the maze */
.wall {
  fill: #333;
}

/* Style for the exit point */
.exit {
  fill: #00f;
}

/* Style for the player character */
.player {
  font-size: 20px;
  fill: #f00;
  font-weight: bold;
  z-index:10;
}