@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(0,0,0);
  background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);
  height:full;
  }
.maze-explorer {
  margin: 20px auto;
}

/* Style for maze cells */
.maze-cell {
  fill: transparent;
}

/* Style for walls in the maze */
.wall {
  /* fill: #537FA6; */
  fill: #6BBEF2;
}

/* Style for the exit point */
.exit {
  fill: transparent;
}

/* Style for the player character */
.player {
  font-size: 20px;
  fill: #f00;
  font-weight: bold;
  z-index:10;
}